html,
body {
  padding: 0;
  margin: 0;
}

/* ROOT VARIABLES */
:root {
  --header_content_height: 48px;
  --header_content_padding: 4px;
  --header_height: calc(
    var(--header_content_height) + var(--header_content_padding) * 2
  );
}

/* LAYOUT */
#main_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  left: 0;
  display: flex;
  flex-flow: row wrap;
}
header {
  width: 100%;
}
#sidebar_and_content_container{
  flex-grow: 1;
  display: flex;
}
#sidebar {
  width: 235px;
  min-height: calc(100vh - var(--header_height));
}
#page_content {
  position: relative;
  width: calc(100% - 235px);
  display: flex;
  flex-flow: column;
}
  #tunes_container{
    flex-grow: 1;
    position: relative;
  }

/* HEADER */
header {
  background: #333;
  position: sticky;
  top: 0;
  z-index: 101;
  color: #fff;
  padding: var(--header_content_padding);
  height: var(--header_content_height);
  display: flex;
  justify-content: space-between;
}

#logo img{
  height: var(--header_content_height);
}
#logo.open_homepage{
  cursor: pointer;
  transition: all 200ms;
}
#logo.open_homepage:hover{
  filter: drop-shadow(0px 0px 4px #0cfeb4);
}

#header_buttons_toggle{
  display: none;
  position: absolute;
  right: 8px;
}
  /* 
    show header buttons toggler
    hide header buttons on hidden class (toggler click event)
    header buttons into a drop-down menu
   */
  #header_buttons.hidden{
    display: none !important;
  }
  #header_buttons{
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    height: max-content;
    position: absolute;
    right: 0;
    top: var(--header_height);
    background: #333;
    padding-bottom: 8px;
    border-radius: 0 0 8px 8px;
  }

/* HOMEPAGE */
#homepage {
  --h: calc(100vh - var(--header_height) - 8px);
  --w: calc(100% - 235px - 8px);
  position: fixed;
  top: 0px;
  right: 0;
  width: var(--w);
  height: var(--h);
  padding: 8px;
  padding-bottom: 0;
  padding-right: 0;
  overflow-y: scroll;
  background: #fff;
  /* border-bottom: 25px solid #333; */
  transition: all 800ms;
  z-index: 99;
}
#close_homepage {
  cursor: pointer;
  position: sticky;
  top: 4px;
  float: right;
  margin-right: 8px;
}
#homepage_content {
  padding: 0 16px;
  color: #333;
}
#homepage::-webkit-scrollbar-track {
  background: #333;
}
/* "Cards" on homepage */
#card_fingerings{
  --color2: hsl(181.97deg 100% 50%);
}
#card_highlights{
  --color2: hsl(64deg 100% 50%);
}
#card_notenames {
  --color2: #4bd130;
}
.cards_container.cols {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: space-around;
}
.card {
  --hColor: hsl(177 88% 41% / 1);
  background: #333;
  background-image: linear-gradient(to bottom, var(--hColor), var(--hColor)), linear-gradient(to bottom, black 107px, transparent);
  background-size: 100% 57px, 100% 60%;
  background-repeat: no-repeat;
  color: #eee;
  padding: 12px;
  max-width: 200px;
  min-width: 10em;
  flex-grow: 1;
  border-radius: 0 64px;
  position: relative;
  top: 0;
  right: 0;
  box-shadow: 0 0 0 0px var(--color2);
  transition: all 200ms;

}
.card:hover .cardIcon {
  filter: drop-shadow(-4px 4px 2px black);
  top: -2px;
  right: -2px;
}
.card:hover {
  box-shadow: -8px 8px 0px 0px var(--color2);
  top: -8px;
  right: -8px;
}
.card h2 {
  margin: 0;
  padding: 6px 0;
  width: calc(100% - 12px);
  color: #fff;
  font-size: 18px;
  text-shadow: -1px 1px 2px BLACK;
}
.card .cardIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 54px;
  width: 54px;
  filter: drop-shadow(-2px 2px 2px black);
  color: var(--color2);
  transition: all 200ms;
}
/* first section */
#homepage_content section:first-child h1 {
  text-align: center;
}
#homepage_content section:first-child .speachBubble {
  width: calc(80% - 100px - 24px);
  text-align: center;
  margin-left: 10%;
  position: relative;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(2px 4px 2px black);
}
#homepage_content section:first-child .speachBubble:before {
  content: "";
  position: absolute;
  bottom: 20px;
  right: -20px;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #ffffff transparent transparent transparent;
}

#homepage footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  margin-left: -8px;
  margin-top: 1em;
}


/* DIALOG */
/* fixed pos */
.ui-dialog.fixed-dialog{
  position: fixed;
}
/* titlebar */
.ui-dialog.alert .ui-dialog-titlebar{
 background: #b91919;
 color: #fff;
}
.ui-dialog.warn .ui-dialog-titlebar{
  background: #b39703;
  color: #fff;
}
/* icon */
.ui-dialog .svg-inline--fa{
  margin-right: 1em;
}
/* buttons */
.ui-dialog.alert .ui-dialog-buttonpane button{
  background: #b91919;
  color: #fff;
}
.ui-dialog.warn .ui-dialog-buttonpane button{
  background: #b39703;
  color: #fff;
}
.ui-dialog .ui-dialog-buttonpane button:hover{
  filter: brightness(1.1);
}

/* SIDEBAR */
#sidebar {
  background: linear-gradient(270deg, #333 0 35px, #222 35px 100%);

  color: #fff;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 100;
}

#sidebar :is(h1, h2, h3, h4, h5, h6) {
  cursor: pointer;
  margin: 0;
  padding-bottom: 6px;
}
#sidebar :is(h1, h2, h3) {
  font-size: 16px;
  text-align: center;
}

#sidebar .score_bookmark_section {
  --height: auto;
  height: var(--height);
  width: calc(100% - 14px - 35px);
  list-style-type: none;
  margin: 0;
  margin-top: 12px;
  padding: 4px;
  position: relative;
  border: 3px solid;
  border-radius: 3px;
  overflow: hidden;
}
#sidebar .score_bookmark_section:last-child {
  position: sticky;
  top: var(--header_height);
}

#sidebar .score_bookmark {
  cursor: pointer;
  padding: 6px 0;
  position: relative;
}
#sidebar .score_bookmark::after {
  content: attr(_title);
}
#sidebar .score_bookmark:hover::after {
  color: #888;
}
#sidebar .score_bookmark.active {
  color: #888;
}
#sidebar .score_bookmark.active:hover::after {
  color: #888;
}

/* search and sort */
#searchAndSort_container {
  padding: 4px 0 0 3px;
  width: calc(100% - 34px - 4px);
  display: flex;
  align-items: center;
}
#searchScores {
  width: 100%;
  position: relative;
}
  #searchScores .fa-magnifying-glass {
    color: black;
    position: absolute;
    font-size: 18px;
    top: 2px;
    right: 2px;
  }
#searchScores input {
  width: 100%;
}
#searchAndSort_container .expand_results {
  padding: 0 6px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
  filter: invert(0);
}
#searchAndSort_container .expand_results.flip{
  transform: rotatex(180deg) translate(-0.45em, -1.25em);
  filter: invert(1);
}

#searchAndSort_results {
  display: none;
  height: calc(100% - 30px);
  width: calc(100% - 42px);
  border: 4px solid #222;
  border-top: none;
  background: #fff;
  position: absolute;
  top: 26px;
  z-index: 1;
  overflow-y: scroll;
}
/* the results scrollbar */
div#searchAndSort_results::-webkit-scrollbar-track {
  background: #222;
}

#sortScores {
  padding: 4px;
  cursor: pointer;
  color: #222;
  display: inline-block;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
#sortScores.active {
  background: #222;
  color: #fff;
  border-radius: 40% 40% 0 0;
}
#sortFilters {
  display: none;
  min-height: 24px;
  border: 4px solid #222;
  border-radius: 0 8px 8px 8px;
  color: #666;
  position: sticky;
  top: 28px;
  background: #fff;
  z-index: 1;
}
  #sortFilters ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #sortFilters ul li{
    cursor: pointer;
  }
  #sortFilters ul li:hover{
    color: #222;
  }
#activeFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 2px;
}
  #activeFilters span {
    display: none;
    background: #333;
    border: 1px solid #000;
    padding: 0 6px;
    color: #fff;
    border-radius: 1em;
    cursor: pointer;
    transition: all 150ms;
  }
  #activeFilters span:hover {
    background: #bbb;
    color: #222;
  }
  #activeFilters span:after {
    content: '\2717';
    margin-left: 4px;
    line-height: 1.3;
  }

#sidebar #searchAndSort_results .score_bookmark {
  color: #222;
}
#sidebar #searchAndSort_results .score_bookmark .bkmkUtils {
  bottom: -10px;
  fill: #666;
}
#sidebar #searchAndSort_results .score_bookmark .bkmkUtils .contextMenuTrigger:hover{
  fill: #222;
}

#results{
  list-style-type: none;
  padding: 0 4px;
}
#results p.noMatch {
  color: #cd5c5c;
  font-style: italic;
}

/* MY SCORES */
/* if my scores is empty */
#myScores:not(:has(li)):after {
  content: 'Your saved scores will appear here.';
  display: block;
  font-weight: normal;
  color: #999;
}

.bkmkUtils {
  position: absolute;
  right: 0;
  bottom: 9px;
  height: 20px;
  display: flex;
  color: #ccc;
  fill: #ccc;
  align-items: center;
}
.bkmkUtils .contextMenuTrigger {
  width: 5px;
  padding: 0 6px;
}
.bkmkUtils .contextMenuTrigger:hover{
  fill: #fff;
}
.bkmkUtils .dragHandleCourtesy{
  cursor: move;
}
.bkmkUtils :is(.dragHandleCourtesy, .saving, .saved) {
  width: 18px;
}
.bkmkUtils :is(.saving, .saved) {
  display: none;
  margin-right: 6px;
}

/* my score utils */
#myScoresUtils {
  display: flex;
  fill: #ccc;
  gap: 4px;
  width: 100%;
}
#myScoresUtils span {
  width: 1em;
  cursor: pointer;
}
#myScoresUtils span:hover{
  fill: #fff;
}
#loadScoresContainer label {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
input#loadScores {
  width: 0 !important;
  height: 0 !important;
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
}
#newScore{
  margin-right: auto;
}

#myScoresUtils h1 {
  padding: 0;
  margin-right: auto;
}

/* CUSTOM MENU */
.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 0 5px;
  padding: 0;
  margin: 0;
  filter: drop-shadow(2px 2px 2px #333);
}
.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all .3s ease;
  user-select: none;
}
.custom-menu li:hover {
  background-color: #DEF;
}

/* sidebar buttons */
#sidebar_buttons {
  position: sticky;
  float: right;
  top: var(--header_height);
  width: 34px;
  display: flex;
  flex-flow: column wrap;
  height: min-content;
  padding: 6px 0;
}
#sidebar_buttons > span {
  cursor: pointer;
  width: calc(100% - 4px);
  margin-left: 2px;
  height: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
#sidebar_buttons .spaceAbove {
  margin-top: 1em;
}

#sidebar_buttons span svg{
  font-size: 1.75em;
}

/* Sidebar Resize Handle */
#sidebar_resize_handle {
  cursor: ew-resize !important;
  /* unset the following, because jquery ui sets them and messes up the layout */
  right: unset;
  top: unset;
  position: unset;
  font-size: unset;
}
#sidebar_resize_handle{
  color: #fff;
}

/* Print */
#print {
  /* the sidebar button */
  color: #cdcdcd;
}
#print:hover {
  color: #fff;
}
#sidebar_buttons #print.active {
  --h: 255;
  --s: 0%;
  --l: 80%; /*<- for glow*/
}
#print.active {
  color: #fff;
}
#printMenu {
  display: none;
  background: #333;
  padding: 6px;
  border-radius: 16px;
  position: absolute;
  left: 35px;
  bottom: 0;
  width: max-content;
  z-index: 100;
}
#print.active + #printMenu {
  display: flex;
  flex-flow: column wrap;
  gap: 6px;
}
#printMenu span {
  color: #ddd;
  text-align: center;
}
#printMenu span:hover {
  cursor: pointer;
  color: #fff;
}

/* fingerings toggle */
#sidebar_buttons #fingerings_toggle {
  --h: 182deg;
}
#sidebar_buttons #fingerings_toggle {
  color: hsl(var(--h) var(--s) var(--l));
}
/* highlights toggle */
#sidebar_buttons #highlights_toggle {
  --h: 64deg;
}
#sidebar_buttons #highlights_toggle  {
  color: hsl(var(--h) var(--s) var(--l));
}
/* notenames toggle */
#sidebar_buttons #notenames_toggle {
  --h: 122deg;
}
#sidebar_buttons #notenames_toggle  {
  color: hsl(var(--h) var(--s) var(--l));
  align-content: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
#sidebar_buttons #notenames_toggle svg{
  transform: scale(0.4) translate(0px, -112px);
}
#sidebar_buttons #notenames_toggle:hover svg {
  filter: brightness(1.5);
}
/* edit toggle */
#sidebar_buttons #show_editors {
  --h:300deg;
}
#sidebar_buttons #show_editors {
  color: hsl(var(--h) var(--s) var(--l));
}

/* inactive saturation and lightness */
#sidebar_buttons span {
  --s: 60%;
  --l: 40%;
}
/* hover saturation and lightness */
#sidebar_buttons span:hover,
#sidebar_buttons span.active:hover {
  --s: 100%;
  --l: 60%;
}
/* active saturation and lightness */
#sidebar_buttons span.active {
  --s: 100%;
  --l: 60%;
}
/* active span */
#sidebar_buttons span.active {
  filter: drop-shadow(0px 0px 4px hsla(var(--h) var(--s) calc(var(--l) - 25%) / 1));
}

/* CUSTOM TOOLTIP STYLES */
/* Dark Theme */
.darkTheme.ui-widget.ui-widget-content {
  border: 1px solid #b3b3b3 !important;
}
.darkTheme.ui-widget-content {
  border: 1px solid #aaaaaa !important;
  background: #333 !important;
  color: #eee !important;
}
.darkTheme.ui-widget {
  font-family: Verdana,Arial,sans-serif !important;
  font-size: 1em !important;
}
.darkTheme.ui-widget-shadow {
  -webkit-box-shadow: -4px 4px 4px #7e7e7e !important;
  box-shadow: -4px 4px 4px #7e7e7e !important;
}


/* PARTS */
.abcEditor{
  width: calc(100% - 12px);
  height: 15em;
  padding: 2px 6px;
  margin: 0 6px;
  display: none;
}

.abc-warnings {
  color: #b90000;
  padding: 2px 6px;
  display: none;
}
.abc-warnings:not(:has(span)) {
  /* hide warnings if there aren't any warnings */
  display: none !important;
}

/* show Unsaved Changes text below any editors that are dirty */
.abcEditor.abc_textarea_dirty ~ .instrument_tunes .abcjs-container:before {
  content: 'Unsaved Changes';
  display: block;
  width: 95%;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  color: #b90000;
  padding: 2px 6px;
}

.part .part-top-bg{
  width: 100%;
  height: 2em;
  margin-bottom: -2em;
  background: #fff;
  position: sticky;
  top: var(--header_height);
  z-index: 1;
}

.part h1{
  height: 1em;
  font-size: 28;
  text-transform: capitalize;
  margin: 6px 18px 6px 6px;
  display: inline-block;
}

.part-utils,
.abcEditor-utils{
  display: inline-flex;
  flex-flow: row wrap;
  height: 24;
  margin: .5em 18px 6px 6px;
}
:is(.part-utils,.abcEditor-utils) span{
  height: 100%;
}
:is(.part-utils,.abcEditor-utils) span{
  color: #333;
  height: 100%;
}

:is(.part-utils,.abcEditor-utils) span:hover{
  cursor: pointer;
}
:is(.part-utils,.abcEditor-utils) span:hover{
  color: #000;
  filter: drop-shadow(0px 0px 1px black);
}

.part:has(.abcEditor[disabled]) .abcEditor-utils {
  /* hide editor utils if the textarea is disabled */
  display: none !important;
}

.ui-icon-caret-1-e{
  background-position-y: 7px !important;
}

.part :is(h1,.part-utils,.abceditor,.abcEditor-utils){
  position: sticky;
  top: var(--header_height);
  z-index: 2;
}
.abcEditor-utils{
  z-index: 3 !important;
  display: flex;
  border: 1px solid;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 6px -1px 6px;
  padding: 0 6px;
  top: calc(var(--header_height) + 26px) !important;
  background: #fff;
}
.abcEditor-utils.hidden{
  display: none !important;
}
.ui-menu.editorUtilMenu {
  position: absolute;
  top: calc(1em + 6px);
  width: max-content;
  display: none;
}
.editorUtilMenu .ui-menu-item-wrapper {
  /* ui menu items */
  padding-left: 0.5em;
}
.editorUtilMenuToggle {
  line-height: 150%;
  background: #ddd;
  padding: 0 2px;
}

.part .abcEditor {
  top: calc(var(--header_height) + 50px);
}

.part{
  position: relative;
}

/* hidden part */
.part.hidden :is(.extra_html, .instrument_tunes, .abc-warnings, .abcEditor, .abcEditor-utils){
  display: none !important;
}
.part.hidden h1{
  font-size: 20px;
}
.part.hidden .part-utils{
  font-size: 12px;
}

/* HIGHLIGHTING */
#tunes_container {
  --cStringColor: purple;
  --gStringColor: green;
  --dStringColor: blue;
  --aStringColor: #ff4700;
  --eStringColor: teal;
}

:not(.highlight_notes) .abcjs-note {
  --selection_glow: #000;
}

/* C String */
.highlight_notes .cString,
.highlight_notes .cString ~ :is(.abcjs-fingering, .abcjs-noteName){
  --selection_glow: var(--cStringColor);
  fill: var(--cStringColor);
}

/* G String */
.highlight_notes .gString,
.highlight_notes .gString ~ :is(.abcjs-fingering, .abcjs-noteName){
  --selection_glow: var(--gStringColor);
  fill: var(--gStringColor);
}

/* D String */
.highlight_notes .dString,
.highlight_notes .dString ~ :is(.abcjs-fingering, .abcjs-noteName){
  --selection_glow: var(--dStringColor);
  fill: var(--dStringColor);
}

/* A String */
.highlight_notes .aString,
.highlight_notes .aString ~ :is(.abcjs-fingering, .abcjs-noteName){
  --selection_glow: var(--aStringColor);
  fill: var(--aStringColor);
}

/* E String */
.highlight_notes .eString,
.highlight_notes .eString ~ :is(.abcjs-fingering, .abcjs-noteName){
  --selection_glow: var(--eStringColor);
  fill: var(--eStringColor);
}

/* selected note */
.abcjs-note_selected {
  fill: var(--selection_glow);
  filter: drop-shadow(0px 0px 6px var(--selection_glow));
}
/* deselected note */
:is(.abcjs-note, .abcjs-rest):not(.abcjs-note_selected) {
  fill: #000;
  stroke: none;
}

/* text annotations
    text annotations have text-anchor="start", fignerings have text-anchor="middle"
*/
text.abcjs-annotation[text-anchor="start"] {
  fill: #000;
}
/* move text annotations attatched to the last barline, down closer to the barline
      otherwise it was looking like it was text below the line above.
*/
.abcjs-bar:last-of-type text.abcjs-annotation[text-anchor="start"] {
  transform: translate(0px, 10%);
}
/* note letter names */
.abcjs-annotation.noteLetterName {
  fill: inherit !important;
}

/* FINGERING AND LETTER NAME VISIBILITY */
.abcjs-fingering,
.abcjs-noteName{
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
#main_container:has(#fingerings_toggle.active) .abcjs-fingering,
#main_container:has(#notenames_toggle.active) .abcjs-noteName{
  opacity: 100%;
}
.abcjs-note_selected .abcjs-fingering,
.abcjs-note_selected .abcjs-noteName {
  opacity: 100%;
}

/* EXTRA HTML */
.extra_html{
  padding: 0 12px;
  margin-left: 6px;
  border-left: 4px solid #333;
  border-radius: 6px;
}

/* FOOTER */
footer {
  background: #333;
  color: #fff;
  padding: var(--header_content_padding);
}

/* SCROLLBAR */
/* Track */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; /* Color of the scrollbar handle */
  border-radius: 16px;
  box-shadow: inset 0 0 2px 1px #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee; /* Color of the scrollbar handle on hover */
}



/* NOTEY */
/* Create Notey */
.notey {
  /* head */
  --h: 160;
  --s: 73%;
  --l: 46%;
  --bgColor: hsl(var(--h), var(--s), var(--l));
  --bgColor-light: hsl(var(--h), var(--s), calc(var(--l) + 10%));
  --bgColor-dark: hsl(var(--h), var(--s), calc(var(--l) - 40%));
  --width: 100px;
  --height: calc(var(--width) * 0.8);

  width: var(--width);
  height: var(--height);
  isolation: isolate;
  position: relative;
  filter: drop-shadow(2px 4px 2px rgba(0 0 0 / 0.7));

  transform: scale(1);
  transition: all 1s;
}

.notey.hide{
  transform: scale(0);
}

.notey-body {
  background: var(--bgColor);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.notey-stem {
  position: absolute;
  width: 30%;
  height: 200%;
  right: 0;
  bottom: 50%;
  background-color: var(--bgColor);
  z-index: -1;
  border-radius: 50% 50% 0 0 / 10% 10% 0 0;
}

.notey-eyes:before,
.notey-eyes:after,
.notey-eyelids:before,
.notey-eyelids:after {
  /* eyes and brows */
  --shadingBG: radial-gradient(
    ellipse at 40% 40%,
    transparent 50%,
    rgba(0 0 0 / 0.8)
  );
  content: "";
  width: 20%;
  height: 40%;
  position: absolute;
  top: -10%;
  left: 10%;
  border: 2px solid black;
  border-radius: 50%;
  background: var(--shadingBG),
    radial-gradient(ellipse at 40% 50%, black 30%, rgb(240 240 240) 39%);
}
.notey-eyes:after,
.notey-eyelids:after {
  /* right eye */
  left: 40%;
  /* top: 0; */
}
.notey-eyelids:after,
.notey-eyelids:before {
  background: var(--shadingBG), var(--bgColor);
}

.notey-eyes:before,
.notey-eyes:after {
  /* eyes */
  clip-path: polygon(
    /* top */ 0% 0%,
    /* top */ 100% 0%,
    /* bottom */ 100% calc(100% - 0%),
    /* bottom */ 0% calc(100% - 0%)
  );
}
/* Eye expressions */
.looking-at-user .notey-eyes:before,
.looking-at-user .notey-eyes:after {
  background: var(--shadingBG),
    radial-gradient(ellipse at 50% 50%, black 30%, rgb(240 240 240) 39%);
}

.looking-forward .notey-eyes:before,
.looking-forward .notey-eyes:after {
  background: var(--shadingBG),
    radial-gradient(ellipse at 40% 50%, black 30%, rgb(240 240 240) 39%);
}

.looking-backward .notey-eyes:before,
.looking-backward .notey-eyes:after {
  background: var(--shadingBG),
    radial-gradient(ellipse at 60% 50%, black 30%, rgb(240 240 240) 39%);
}

.looking-at-left-hand .notey-eyes:before,
.looking-at-left-hand .notey-eyes:after {
  background: var(--shadingBG),
    radial-gradient(ellipse at 60% 65%, black 30%, rgb(240 240 240) 39%);
}

.looking-at-right-hand.notey-eyes:before,
.looking-at-right-hand.notey-eyes:after {
  background: var(--shadingBG),
    radial-gradient(ellipse at 35% 65%, black 30%, rgb(240 240 240) 39%);
}

.eyes-winking-left .notey-eyes:before,
.eyes-winking-right .notey-eyes:after,
.eyes-blinking .notey-eyes:before,
.eyes-blinking .notey-eyes:after {
  /* wink/blink infinite */
  animation: blink 5s linear -1.6s infinite alternate-reverse;
}
@keyframes blink {
  0%,
  47%,
  53%,
  100% {
    clip-path: polygon(
      /* top */ 0% 0%,
      /* top */ 100% 0%,
      /* bottom */ 100% calc(100% - 0%),
      /* bottom */ 0% calc(100% - 0%)
    );
  }
  50% {
    clip-path: polygon(
      /* top */ 0% 50%,
      /* top */ 100% 50%,
      /* bottom */ 100% calc(100% - 50%),
      /* bottom */ 0% calc(100% - 50%)
    );
  }
}

.notey-mouth {
  /* mouth */
  position: absolute;
  width: 26%;
  height: 16%;
  background: transparent;
  border-radius: 0 0 50% 50% / 0 0 80% 80%;
  border: calc(var(--width) * 0.03) solid black;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  bottom: 30%;
  left: 25%;
}
.frowning .notey-mouth {
  transform: rotate(180deg) translatey(-30%);
}

.notey-hand-left,
.notey-hand-right {
  width: 33%;
  height: 33%;
  background: var(--bgColor);
  border-radius: 50%;
  position: absolute;
  right: -5%;
  top: 45%;
  box-shadow: inset calc(var(--width) * -0.05) calc(var(--height) * -0.05)
    calc(var(--width) * 0.03) rgba(0 0 0 / 0.2);
}
.notey-hand-right {
  /* display: none; */
  right: 87%;
  z-index: -1;
}

/* Notey Instruments */
#notey:not(:is(.playing-violin, .holding-violin))
  :is(.notey-violin, .notey-violin-bow) {
  /* hide violin and bow if not plyaing or holding it */
  display: none;
}

:is(.holding-violin, .playing-violin) .notey-violin {
  position: absolute;
  width: 155%;
  height: min-content;
  right: -38%;
  top: 35%;
  transform: rotate(-90deg);
  transform-origin: 70% 50%;
  clip-path: polygon(
    /* points of outer square going counterclockwise  */ 83% 100%,
    100% 100%,
    100% 0,
    0 0,
    0 100%,
    /* back to (near) first point outer square */ 69% 100%,
    /* points of inner shape going clockwise */ 69% 0,
    83% 0,
    /* back to first point of inner shape */ 83% 100%
  );
}
:is(.holding-violin, .playing-violin) .notey-violin-bow {
  position: absolute;
  width: 155%;
  height: min-content;
  left: -150%;
  top: 50%;
  transform-origin: 90% 50%;
  transform: rotate(90deg) scaley(-1);
}

/* Position notey */
#notey .notey {
  position: fixed;
  top: calc(var(--header_height) + 125px);
  left: calc(100vw - 150px);
  z-index: 101;
}

#sidebar_buttons .notey {
  --width: 25px;
  margin-top: 200%;
}

#sidebar_buttons #noteyToggle {
  height: fit-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#sidebar_buttons #noteyToggle:hover .notey {
  --bgColor: var(--bgColor-light);
}

/* Notey Shading */
.notey-body,
.notey-hand-left,
.notey-hand-right {
  background: radial-gradient(ellipse at 33% 33%, var(--bgColor) 16.5%, #000);
}
.notey-stem {
  background: radial-gradient(
      circle at -89px calc(100% - (80px * 0.43)),
      var(--bgColor) 16.5%,
      #000
    ),
    radial-gradient(ellipse at 33% 37%, var(--bgColor) 6.5%, #000);
  background-blend-mode: lighten;
  /* z-index: 2; */
  /* background-size: auto, 100% 114%; */
}
.notey-eyes {
  filter: radial-gradient(circle at 50% -50%, #ddd 0 100%);
}

/* Notey Playing Instruments Animations */
.playing-violin .notey-hand-left {
  right: -10%;
  top: 122%;
  transform: rotate(45deg) rotate3d(0, 3, 1, 60deg);
}
.playing-violin .notey-violin {
  transform: rotate(45deg) rotate3d(0, 3, 1, 60deg);
  right: -35%;
  top: 100%;
}
.playing-violin .notey-hand-right {
  transform: scale(-1) rotate3d(-4.5, 3, 1, -60deg) rotate3d(1, 0, 0, 180deg);
  left: 40%;
  top: 101%;
  z-index: 1;
  animation: hand_bowing 3s ease-in-out infinite;
}
.playing-violin .notey-violin-bow {
  transform: scale(-1) rotate3d(0, 3, 1, -60deg) rotate3d(1, 0, 0, 180deg);
  left: -80%;
  top: 103%;
  z-index: 2;
  animation: bow_bowing 3s ease-in-out infinite;
}
@keyframes bow_bowing {
  50% {
    left: -117%;
    top: 130%;
  }
}
@keyframes hand_bowing {
  50% {
    left: 5%;
    top: 127%;
  }
}

/* Notey Expression */
/* 
Put the following classes on the ".notey" div
  __Class__             __Description__
  .frowning             frown
  .eyes-winking-left    left eye blink
  .eyes-winking-right   right eye blink
  .eyes-blinking        both eyes blink
  .looking-at-user      eyes turn to face user
  .looking-forward      eyes turn to face 'forward'
  .looking-backward     eyes turn to face 'backward'
  .looking-at-left-hand eyes turn to face left hand
  .looking-at-right-hand eyes turn to face right hand
 */