@media print {
  html,
  body {
    background: white;
    margin: 0;
  }

  /* hide elements we don't want */
  #topbar,
  #sidebar,
  .score_settings,
  .tune_settings,
  footer,
  header,
  .abc-warnings,
  .abcEditor,
  .part-utils,
  .abcEditor-utils,
  .abcEditor.abc_textarea_dirty ~ .instrument_tunes .abcjs-container:before,
  ::-webkit-scrollbar {
    display: none !important;
  }
  .ui-tooltip {
    /* hide tooltips */
    visibility: hidden;
  }

  #page_content {
    width: 100vw;
  }

  .part .part-top-bg,
  .part :is(h1,.part-utils,.abceditor,.abcEditor-utils){
    position: static;
  }

  .part h1{
    /* move instrument headings up and make them smaller */
    position: absolute;
    top: 0;
    font-size: 20px;
  }

  /* selectively print */
  /* first, hide all tunes */
  #tunes_container:not([printinstruments="allVisible"]) .part,
  #tunes_container:not([printinstruments="allVisible"]) .part .instrument_tunes {
    display: none !important;
  }

  /* then, show only the ones we want */
  #tunes_container[printinstruments*="violin"] .part[instrument="violin"],
  #tunes_container[printinstruments*="violin"] .part[instrument="violin"] .instrument_tunes {
    display: block !important;
  }
  #tunes_container[printinstruments*="viola"] .part[instrument="viola"],
  #tunes_container[printinstruments*="viola"] .part[instrument="viola"] .instrument_tunes {
    display: block !important;
  }
  #tunes_container[printinstruments*="cello"] .part[instrument="cello"],
  #tunes_container[printinstruments*="cello"] .part[instrument="cello"] .instrument_tunes {
    display: block !important;
  }
  #tunes_container[printinstruments*="bass"] .part[instrument="bass"],
  #tunes_container[printinstruments*="bass"] .part[instrument="bass"] .instrument_tunes {
    display: block !important;
  }

  /* footer */
  body:after {
    content: 'Staff To Stand';
    display: block;
    width: 200px;
    height: fit-content;
    position: fixed;
    bottom: 0;
    color: #000;
    z-index: 200;
    text-align: center;
    left: calc(50% - 100px);
  }
}